.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    gap: 1rem;
    border-radius: 0.5em;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: var(--color-bg);
}

.portfolio__item-image {
    border-radius: 0.5em;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 1.2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
}

.my-swiper {
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    border-radius: 0.5em;
}

.portfolio__item-cta a {
    padding: 0.2rem 1.3rem;
    text-align: center;
}

/* ========================== Media Queries (Small Devices) ========================== */

@media screen and (max-width: 600px) {
    .portfolio__item {
        width: 100%;
    }

    .my-swiper {
        width: var(--container-width-ms);
    }
}

@media screen and (max-width: 430px) {
    h3 {
        font-size: 12px;
    }
    .portfolio__item-cta a {
        padding: 0rem 1.9rem;
        text-align: center;
        font-size: 12px;
    }
}