.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 0.5em;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: var(--color-bg);
    border: solid 1px var(--color-primary-variant);
}

.icon {
    font-size: 1.5rem;
    color: var(--color-primary);
}

.contact__option:hover .icon {
    color: var(--color-hover);
}


.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

button {
    background: var(--color-bg);
    height: 3.5rem;
    transition: var(--transition);
}

/* ========================== FORM ========================== */

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5em;
    background: var(--color-white);
    resize: none;
}

/* ========================== Media Queries (Medium Devices) ========================== */

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;

    }
}

/* ========================== Media Queries (Small Devices) ========================== */

@media screen and (max-width: 600px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: var(--container-width-ms);
    }
    .contact__option:hover {
        background: var(--color-bg-variant);
        border: solid 1px transparent;
    }
    .contact__option:hover .icon {
        color: var(--color-primary);
    }
    .contact__option {
        padding: 0.3rem;
    }
}