.header__container {
    text-align: center;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* ========================== CTA ========================== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ========================== Header Socials ========================== */

.header__socials {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.header__social::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ========================== ME ========================== */

.me {
    background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-bg) 100%);
    width: 22rem;
    height: 26rem;
    margin-top: 2rem;
    border-radius: 3rem 3rem 8rem 8rem;
    overflow: hidden;
}

/* ========================== Scroll Down ========================== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    top: 130%;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;

}

/* ========================== Media Queries (Medium Devices) ========================== */

@media screen and (max-width: 1024px) {

}

@media screen and (max-height: 590px) {
/*     header {
        height: 145vh;
    } */
    .scroll__down {
        bottom: 22rem;
    }
}

/* ========================== Media Queries (Small Devices) ========================== */

@media screen and (max-width: 600px) {
    .scroll__down {
        display: none;
    }
}