footer {
    background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-bg) 100%);
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 8rem;
}

footer a {
    color: var(--color-bg)
}

footer a:hover {
    color: var(--color-white);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-bg);
    margin-bottom: 1rem;
    display: inline-block;
}

.footer__logo:hover {
    color: var(--color-white);
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 1rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
}

.footer__soclials:hover {
    border-color: var(--color-hover);
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    border: 1px solid transparent;
    margin-bottom: 1rem;
}

.footer__socials a:hover {
    color: var(--color-hover);
}

.footer__copyright {
    color: var(--color-light);
}

/* ========================== Media Queries (Small Devices) ========================== */

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 0;
    }
}